body{
    background-image: url(images/bg.jpg);
    background-size:cover;
}
.logo{
    width:70px;
    height: 70px;
    border-radius: 100%;
}
.drop p{
    font-size: 12px;
}
.drop a:hover{
    color: blue;
}
.drop span{
    margin-left: 10px;
    font-weight: 500;
}
.btt{
    width: 200px;
}
.btt:last-of-type{
    border: 2px solid black;
}
.btt:last-of-type{
    border-color: gray;
}
.btt:hover{
    color: rgb(227, 221, 221);
}
.container{
    width: 150rem;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */

}

.container h1{
    font-size:60px;
}
.container p{
    font-size:30px;
}
.astro{
    width: 400px;
    height: 400px;
    transition-property: transform; 
    transition-timing-function:linear; 
    transition-duration: 3s;
}
.astro:hover{
    transform:translate(100px);
}
.cat{
    /* background-color: rebeccapurple; */
    position: absolute;
    top: 100px;
    right: 40px;
    height: 200px;
    width: 200px;
}
.astro1{
    position: absolute;
    top: 50px;
    left: -30px;
    height: 300px;
    width: 300px;
}
.btnn{
    border: 2px solid purple;
}
